.sideMenu {
  background-color: rgb(255, 255, 255);
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 10px solid green;
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
}
